body{
    background-image: url(bgimage2.png);
    
       background-repeat: no-repeat;
       background-size:cover;
       background-position:-10% 65%;
       z-index: 200;
        
    
}

       

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
       

    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* background: black; */


    perspective: 1500px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -100;
}

.slider {
    position: relative;
    width: 200px;
    height: 260px;
    transform-style: preserve-3d;
    animation: autoRun 18s linear infinite;
}

@keyframes autoRun {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.item {
    position: absolute;
    inset: 0;
    transform:
        rotateY(calc((var(--position) - 1) * 36deg))
        translateZ(320px)
       
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}